[submodule "src_rebuild/PsyCross"]
	path = src_rebuild/PsyCross
	url = https://github.com/Njurse/PsyCross.git
[submodule "JERICHO/MODS/gaildrv2"]
	path = JERICHO/MODS/gaildrv2
	url = https://github.com/Njurse/gailredriver2.git
[submodule "JERICHO/MODS/d1cars"]
	path = JERICHO/MODS/d1cars
	url = https://github.com/Njurse/JERICHO-D1.git
